.photoarrange{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
}


.fullstackname{
    text-align: center;
}